
@media (min-width: 500px){
    body{
        font-family: "Jersey 15", sans-serif;
        font-weight: 800;
        font-style: normal;
        display: block;
        justify-content: center;
        }

    .top{
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 100%; 
        height: 650px;
        top: -30px;
    
    }
    
    .rulo{
        position: relative;
        border-radius: 100%;
        border-top: dotted;
        border-left: dotted;
        border-right: dotted;
        display: flex;
        background: url("img/c5d6fd7e-7aaa-47ca-8fcd-68466f576eed.png") no-repeat;
        background-position:top;
        background-size: contain;
        justify-content: center;
        align-items: self-end;
        width: 60%;
        height: 650px;
        background-color: white;
    }
    .enredo{
        width: 100%;
        position: relative;
        position: relative;
        border-radius: 100%;
        border-top: dotted;
        border-left: dotted;
        border-right: dotted;
    }
    .divyo{
    
        position:absolute;
        display: flex;
        justify-content: center;
        bottom: 10%;
    }
    .yo{
    
        position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        border-radius: 20%;
    
    }
    .txt{
        bottom: 0;
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
}
    
    }
    .name{
        position: relative;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 0;
        bottom: 0px;
    }
    .dev{
        position: relative;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0;
        bottom: 0px;
    }
    
    .aprendizaje1{
        position:absolute;
        z-index:10 ;
        width: 15%;
        transform: rotate(10deg);
        top: 10%;
        left: 25%;
    }
    .aprendizaje2{
        position:absolute;
        z-index:10 ;
        width: 13%;
        transform: rotate(-10deg);
        top: 15%;
        left: 60%;
    }
    .aprendizaje3{
        position:absolute;
        z-index:10 ;
        width: 12%;
        transform: rotate(10deg);
        top: 30%;
        left: 40%;
    }
    .aprendizaje4{
        position:absolute;
        z-index:10 ;
        width:15%;
        transform: rotate(-10deg);
        top: 40%;
        left: 60%;
    }
    .aprendizaje5{
        position: absolute;
        z-index:10 ;
        width: 10%;
        transform: rotate(-10deg);
        top: 60%;
        left: 70%;
    }
    .aprendizaje6{
        position:absolute;
        z-index:10 ;
        width: 15%;
        transform: rotate(10deg);
        top: 60%;
        left: 20%;
    }
    .aprendizaje7{
        position:   absolute;
        z-index:10 ;
        width: 10%;
        transform: rotate(-10deg);
        top: 40%;
        left: 15%;
    
    }
    .my{
        position: relative;
        width: 80%;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top: solid;
        background:linear-gradient(white,green);
        left: 10%;
    }
    .about{
        width: 100%;
        position: relative;
        top: 0px;
        font-size: 28px;
        
    }
    .txtabout{
        position: relative;
        width: 100%;
        height: 220px;
        top: 50px;
        font-size: 24px;
    
    }
    #cv{
        position: relative;
        top: 0;
        width: 80%;
        display: block;
        border: solid;
        font-family: "Jersey 15", sans-serif;
        font-weight: 800;
        font-style: normal;
        left: 10%;
    }
    .projects{
        position: relative;
        display:block;
        justify-content: center;
        text-align: center;
    }
    
    .imgdevbus{ 
        left: 30%;
        width: 40%;
    }
    
    .imgbtu{
        width: 40%;
    }

body{
    display: block;
    justify-content: center;

}
.top{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%; 
    height: 650px;
    top: -30px;

}

.rulo{
    position: relative;
    border-radius: 100%;
    border-top: dotted;
    border-left: dotted;
    border-right: dotted;
    display: flex;
    background: url("img/c5d6fd7e-7aaa-47ca-8fcd-68466f576eed.png") no-repeat;
    background-position:top;
    background-size: contain;
    justify-content: center;
    align-items: self-end;
    width: 60%;
    height: 650px;
    background-color: white;
}
.enredo{
    width: 100%;
    position: relative;
    position: relative;
    border-radius: 100%;
    border-top: dotted;
    border-left: dotted;
    border-right: dotted;
}
.divyo{

    position:absolute;
    display: flex;
    justify-content: center;
    bottom: 10%;
}
.yo{

    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 20%;

}
.txt{
    bottom: 0;
    position: relative;
    display: block;
    text-align: center;
    width: 100%;

}
.name{
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    bottom: 0px;
}
.dev{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0;
    bottom: 0px;
}

.aprendizaje1{
    position:absolute;
    z-index:10 ;
    width: 15%;
    transform: rotate(10deg);
    top: 10%;
    left: 25%;
}
.aprendizaje2{
    position:absolute;
    z-index:10 ;
    width: 13%;
    transform: rotate(-10deg);
    top: 15%;
    left: 60%;
}
.aprendizaje3{
    position:absolute;
    z-index:10 ;
    width: 12%;
    transform: rotate(10deg);
    top: 30%;
    left: 40%;
}
.aprendizaje4{
    position:absolute;
    z-index:10 ;
    width:15%;
    transform: rotate(-10deg);
    top: 40%;
    left: 60%;
}
.aprendizaje5{
    position: absolute;
    z-index:10 ;
    width: 10%;
    transform: rotate(-10deg);
    top: 60%;
    left: 70%;
}
.aprendizaje6{
    position:absolute;
    z-index:10 ;
    width: 15%;
    transform: rotate(10deg);
    top: 60%;
    left: 20%;
}
.aprendizaje7{
    position:   absolute;
    z-index:10 ;
    width: 10%;
    transform: rotate(-10deg);
    top: 40%;
    left: 15%;

}
.my{
    position: relative;
    width: 80%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: solid;
    background:linear-gradient(white,green);
    left: 10%;
    top: 20px;
}
.about{
    width: 100%;
    position: relative;
    top: 0px;
}
.txtabout{
    position: relative;
    text-align: center;
    width: 100%;
    height: 220px;
    top: 50px;

}
.cv{
    position: relative;
    top: 0;
    width: 80%;
    border: solid;
    left: 10%;
}
.projects{
    position: relative;
    display:block;
    justify-content: center;
    text-align: center;
}

.imgdevbus{ 
    left: 30%;
    width: 40%;
}

.imgbtu{
    width: 40%;
}
footer{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: black;
    bottom: 0px;
    margin-top: 10%;
}
.footer{
    color: aliceblue;
    padding: 40px;
    margin: 0px;
}
.contactimg{
    position: relative;
    width:50%;
}
.btncontact{
    position: relative;
    width: 10%;
    filter: invert(100%);
    cursor: pointer;
    border-radius: 100%;
    border: none;
}

.formcontact {
    margin-top: 2%;
    position: relative;
    width: 40%;
    height: auto;
    background: linear-gradient(white,green);
    padding: 1%;
    border-radius: 10%;
    left: 30%;
}

label{
    position: relative;
    text-align: left;
    margin-right: 2%;

}

.datos{
    text-align: left;
    margin-bottom: 5%;
    display: flex;
    justify-content:center;
    align-content: center;
}
.contactame{
    text-align: center;
    background: url("img/c5d6fd7e-7aaa-47ca-8fcd-68466f576eed.png") no-repeat;
    background-size: cover;
    background-position:center ;
}
.send{
    position: relative;
    width: 20%;
    border-radius: 10%;
    border: none;
    left: 20%;
}


@media (max-width: 500px){
    body{
        font-family: "Jersey 15", sans-serif;
        font-weight: 800;
        font-style: normal;

    }
    .top{
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 100%; 
        height: 650px;
        top: 0px;
    
    }
    .rulo{
        position: relative;
        border-radius: 40% 40% 0% 0%;
        border-right: dotted;
        display: flex;
        background: url("img/c5d6fd7e-7aaa-47ca-8fcd-68466f576eed.png") no-repeat;
        background-position:top;
        background-size: contain;
        justify-content: center;
        align-items: self-end;
        width: 60%;
        height: 650px;
        background-color: white;
    }
    .divyo{

        position:absolute;
        display: flex;
        justify-content: center;
        bottom: 30%;
    }
    .rulo:hover{
        filter: invert(100%);
    }
    .yo{
    
        position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        border-radius: 20%;
    
    }
    .aprendizaje4{
        position:absolute;
        z-index:10 ;
        width:15%;
        transform: rotate(-10deg);
        top: 35%;
        left: 60%;
    }
    .aprendizaje5{
        position: absolute;
        z-index:10 ;
        width: 10%;
        transform: rotate(-10deg);
        top: 25%;
        left: 70%;
    }
    .aprendizaje6{
        position:absolute;
        z-index:10 ;
        width: 15%;
        transform: rotate(10deg);
        top: 20%;
        left: 20%;
    }
    .projects{
        position: relative;
        display:block;
        justify-content: center;
        text-align: center;
    }
    
    .imgdevbus{ 
        width: 100%;
    }
    
    .imgbtu{
        width: 100%;
    }
}