body{
    display: block;
    justify-content: center;
    background-color: rgb(142, 185, 241);
}
.top{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: solid;
    width: 100%; 
    height: 650px;
    top: -30px;
}

.rulo{
    position: relative;
    border-radius: 100%;
    border-top: dotted;
    border-left: dotted;
    border-right: dotted;
    display: flex;
    background: url("c5d6fd7e-7aaa-47ca-8fcd-68466f576eed.png") no-repeat;
    background-position:top;
    background-size: contain;
    justify-content: center;
    align-items: self-end;
    width: 60%;
    height: 650px;
}
.enredo{
    width: 100%;
    position: relative;
    position: relative;
    border-radius: 100%;
    border-top: dotted;
    border-left: dotted;
    border-right: dotted;
}
/* .dark{
    position: relative;
    top: 240px;
    width: 800px;
} */
.divyo{

    position:absolute;
    display: flex;
    justify-content: center;
    bottom: 10%;
}
.yo{

    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 20%;

}
.txt{
    bottom: 0;
    position: relative;
    display: block;
    text-align: center;
    width: 100%;

}
.name{
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    bottom: 0px;
}
.dev{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0;
    bottom: 0px;
}

.aprendizaje1{
    position:absolute;
    z-index:10 ;
    width: 15%;
    transform: rotate(10deg);
    top: 10%;
    left: 25%;
}
.aprendizaje2{
    position:absolute;
    z-index:10 ;
    width: 13%;
    transform: rotate(-10deg);
    top: 15%;
    left: 60%;
}
.aprendizaje3{
    position:absolute;
    z-index:10 ;
    width: 12%;
    transform: rotate(10deg);
    top: 30%;
    left: 40%;
}
.aprendizaje4{
    position:absolute;
    z-index:10 ;
    width:15%;
    transform: rotate(-10deg);
    top: 40%;
    left: 60%;
}
.aprendizaje5{
    position: absolute;
    z-index:10 ;
    width: 10%;
    transform: rotate(-10deg);
    top: 60%;
    left: 70%;
}
.aprendizaje6{
    position:absolute;
    z-index:10 ;
    width: 15%;
    transform: rotate(10deg);
    top: 60%;
    left: 20%;
}
.aprendizaje7{
    position:   absolute;
    z-index:10 ;
    width: 10%;
    transform: rotate(-10deg);
    top: 40%;
    left: 15%;

}
/* .muscle{
    position: absolute;
    width: 600px;
    top: 560px;
    z-index: -1;
} */
.my{
    position: relative;
    width: 80%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: solid;
    background:linear-gradient(white,green);
    left: 10%;
}
.about{
    width: 100%;
    position: relative;
    top: 0px;
    
}
.txtabout{
    position: relative;
    text-align: center;
    width: 100%;
    height: 220px;
    top: 50px;

}
.cv{
    position: relative;
    top: 0;
    width: 100%;
    border: solid;
    color: aliceblue;
}